html , body {
	width: 100%;
	height: 100%;
}
.box{
	width: 100%;
	height: 100%;
	background-color:black;
}
.headline{
	background-color:black;
	border: 4px solid black;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.taqsa-foto{
	height: 80px;
	margin-left: 50px;
	align-items: middle;
}
.taqsa{
    height: 100%;
    position: relative;
}
h2{
	font-size: 20px;
	color:white;
	margin-right: 100px;
	align-items: center;
}
.box1{
	width: 30%;
	display: flex;
}
.dgeebi-ul{
	display: flex;
	background-color: black;
}
.orshabati{
	color:white;
	margin-left: 70px;
	font-size: 30px;
	margin-bottom: 10px;

}
.text{
	color: white;
	font-size: 15px;
	
}
.conteiner{
	display: flex;
    flex-direction: column;
    align-items: center;
}